body {
    margin: 0px;
    padding: 0px;
    
    }



.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('wade-meng-LgCj9qcrfhI-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.glass-box {
    border: 1px solid;
    background: teal;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    box-shadow:rgba(14, 13, 14, 0.748)20px 20px 20px;
       border-radius: 10px;
    position: absolute;
}
i{
    position: relative;
    transform: translate(-50%,-50%);
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: rgb(248, 249, 250);
}

#password {
    margin-bottom: 50px;
}

#email {
    margin-bottom: 20px;
}

form {
    justify-content: center;
    align-items: center;

}

form input {
    background-color: transparent;
    line-height: 2;
    border: none;
    margin-left: 20%;
    border-bottom: 2px solid rgba(9, 9, 9, 0.34);
    transition: all 2s ease-in-out;
    border-bottom-left-radius: 10px;
    
}

span {
    color: red;
}

button {
    margin-left: 25%;
    background-color: #84cbe4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    margin: 10% 25%;
}

.action-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;

}

.action-links a {
    color: #0dd6f5;
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}

::placeholder {
    color: rgb(245, 242, 242);
    opacity: 8;
    font-size: 18px;
}

button:hover {
    background-color: rgba(212, 110, 198, 0.974);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 3s ease-in-out;
}

